{{#> layout }}
<div class="container-fluid container-first text-center top-comp">
	<h1>Renovace Austin Mini 1986</h1>
	<p>Nákup a renovace vozu na přání zákazníka.</p>
	<br/>
	<div class="wrap-img-over">
		<img src="/img/austinMiniCover.jpg" class="img-responsive img-over" alt="Austin Mini">
	</div>
</div>
<!-- služby-->
<div class="wrapper-white">
	<div class="container">
		<br/>
		<br/>
		<div class="row numbers text-center">
			<div class="col-sm-4">
				<div class="no">800h+</div>
				<div class="txt">tolik hodin zabrala renovace</div>
				<br/>
			</div>
			<div class="col-sm-4">
				<div class="no">1986</div>
				<div class="txt">Rok výroby vozu</div>
				<br/>
			</div>
			<div class="col-sm-4">
				<div class="no">998ccm</div>
				<div class="txt">tabulkový objem motoru A+</div>
				<br/>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Návrat ze záhrobí</h2>
				<p>Emocionální vztah k tomuto vozítku může pochopit jen málokdo. Austin mini 1986. Prošel nám celý pod rukama. Součástku po součástce. Šroub po šroubu. Každý den do pozdních večerních hodin. Celkový čas renovace se zastavil někde okolo 800 hodin práce. Možná více, už nás to nebavilo počítat. Počáteční stav byl žalostný. Díry v podlahách, jak u vozítka Freda Flinstona, zadní rám držel silou vůle a také díky dvěma šroubům. Máloco ještě nevzdalo boj s korozí. Miník v naprosto zbědovaném stavu, žádající první pomoc. Vyzařoval zvláštní energii, vyzývající k jeho záchraně.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/austinMiniBefore.jpg" class="img-responsive" alt="Austin Mini Renovace Motor a Karoserie">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Kompletní renovace</h2>

				<p>Záchranná akce měla plno úskalí. Odstrojení celého auta nikdy nevyžaduje velké umění. Horší je to s následným uchováním komponent pro pozdější smontování. Je velmi důležité vše pečlivě uložit, popřípadě zrenovovat. Vyvařit jsme museli podlahy, prostor kufru, dále čekali na výměnu blatníky a přední čelo, zadní spoiler, oba lemy zadních kol, áčkové plechy, no prostě jediným zdravým plechem byla střecha. Tam koroze, za skoro 30 let, už nedosáhla.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/austinMiniBodyWork.jpg" class="img-responsive" alt="Austin Mini Renovace Karoserie">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Každá součást potřebuje péči</h2>

				<p>Motor byl celý kompletně rozebrán, zkontrolován, vyladěn a opětovně složen. Přední rám, po opískování, byl obdařen černou práškovou barvou.</p>

				<p>Díly nápravy jsou ve zlatém zinku a dodávají celému kompletu nádech drahého auta za milion. Brzdiče AP racing jsou vyvedeny v červené barvě, jak se sluší a patří u závodních brzd.</p>

				<p>Stojí to mnoho námahy, aby vše vypadalo perfektně a nebyl zanedbán nejmenší detail. Na konci čeká výsledek, za který se nemusíte stydět a dodá vám pocit z dobře odvedené práce.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/austinMiniEngine.jpg" class="img-responsive" alt="Austin Mini Motor 998ccm po renovaci A+">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Nový lak karoserie i originální barva motoru</h2>

				<p>Původní vínový odstín nahradila modrá metalýza s mystickým názvem moonracker. Měsíční svit se nádherně vyjímá i v denním slunci. Při čekání na návrat z lakovny, jsme kompletně zrenovovali obě nápravy. Rámy jsme nabarvili černou práškovou barvou a díly náprav dostali zinkovou úpravu. Motor byl kompletně rozebrán, vyčištěn a opět složen. Blok motoru opět začal zářit žlutou barvou, dokreslujíci fakt, že se jedná o motor A+ s nesmrtelnými písty omega. Interiér byl, jak už to bývá, plesnivý a už pamatoval lepší doby. Pro zachování původnosti ho stačilo vytepovat a vysušit. Vůně uvnitř auta nyní ukazuje jak má vonět veterán. Specifická vůně jakoby vyprávěla celý miníkův příběh.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/austinMiniNew.jpg" class="img-responsive" alt="Karoserie Austin Mini Po návratu z lakovny">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Těžká dřina</h2>

				<p>Celý projekt provázela různá úskalí. Chybějící díly, spojovací materiál, vymlácená zadní ramena a mnoho dalších problémů, které nám znemožnovaly klidné spaní. Výčet prací by vydal na knihu. Na cokoli se jen pohlédlo bylo zničené, žádající renovaci nebo v autě nebylo pro jistotu vůbec. Vše nakonec dobře dopadlo a vzniklo vlastně skoro nové auto, s ročníkem narození 1986 a znovuzrozené v roce 2015.</p>

				<p></p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/austinMiniDone.jpg" class="img-responsive" alt="Veterán Austin Mini Motor po Renovaci">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Bez pomoci dalších by to nešlo</h2>

				<p>Na projektu se účastnili a pomohli navrátit Austin mini 1986 na silnici: Pan Kohlbeck a synové, Kuba Petržilka, Bohumil Nevím, galvanovna omega, lakovna Plicka a syn, čalounictví Z.Plch, pan Hajzr, <a href="http://www.oldgarage.wz.cz/ ">pan Voráč</a>, <a href="https://www.minisport.com">minisport.com</a>, <a href="http://minispares.com">minispares.com</a></p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/austinMiniBack.jpg" class="img-responsive" alt="Austin Mini mk4">

	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<h2>Splňte si také svůj sen</h2>

				<p>Nabízíme poradenství při výběru a nákupu veteránů, renovujeme historické vozy i youngtimery.</p>
				<br/>
				<a href="/#služby" class="btn btn-primary record-interest">Dozvědět se více o nabízených službách</a>
			</div>
		</div>
	</div>
	<br />
	<br />
</div>
<div class="container-fluid container-black">
    <h2 class="text-center">Další Splněné sny</h2>
	<p class="text-center">Pokud vás zajímají naše další projekty, neváhejte si je prohlédnout.</p>
	<br />
    <div class="row cars-row">
		<div class="col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2 wrapper-white">
			<div class="row">
				<div class="col-sm-4 box-size car car-4"  style="background-image: url(/img/kolby.jpg)">
				</div>
				<div class="col-sm-8">
					<h3>Rover Mini Balmoral Edition</h3>
					<p>Příběh o znovuzrození zajímavého vozu a splnění dětského snu.</p>
					<h4>Renovace karoserie, Renovace motoru, Nový lak, Renovace interiéru</h4>
					<br />
					<a href="/mini-balmoral-edition" class="btn btn-primary">Prohlédnout renovaci vozu</a>
				</div>
			</div>
		</div>
    </div>
</div>
<br/>
<br/>
<hr/>
{{/layout}}