{{#> layout }}
<div class="container-fluid container-black container-fullscreen">
    <div class="home-background top-comp">
        <div class="home-claim">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Plním dospělým jejich dětské sny</h1>
                </div>
            </div>
        </div>
		<div class="row play-button">
			<div class="col-xs-6 col-sm-7 col-xs-offset-6 col-sm-offset-5 text-left">
				<a href="#video">
					<div class="play-btn"></div>
					<p>Podívejte se, jak jsem si já splnil svůj sen</p>
				</a>
			</div>
		</div>
    </div>
</div>
<div class="container-fluid container-black">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center claim">
            <h2>{{_ 'Jsem Petr Kohlbeck'}}</h2>
            <p class="perex">A spolu s mým tátou plníme sny lidem, kteří chápou, že někdy si jen prostě stačí sednout do auta, nastartovat a odjet. Lidem, kteří jsou ochotní vzdát se pohodlí vyhřívaných sedaček a parkovacích senzorů pro nezapomenutelný pocit z jízdy. S mým tátou renovujeme youngtimery a oldtimery ve kterých se dá dojet i do Monte Carla.</p>
        </div>
		<div class="col-md-12 text-center">
			<a href="/mini-balmoral-edition" class="btn btn-primary record-interest">Chci se dozvědět více</a>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
    </div>
</div>
<div class="wrapper-white" id="služby">
	<div class="container what-we-do">
		<br />
		<h3 class="text-center">Co pro vás můžeme udělat?</h3>
		<h2 class="text-center">Pomůžeme vám k vašemu vysněnému vozu</h2>
		<div class="row">
			<div class="col-sm-4 col-md-2 col-md-offset-3 text-center">
				<img src="/img/search.png" class="hires" alt="Najdeme dobrý kus" width="140" height="90" />
				<h4>Najdeme dobrý kus</h4>
				<p>Pokud máte představu, jaký vůz byste chtěli, jen nevíte kde hledat, pomůžeme vám.</p>
				<br/>
			</div>
			<div class="col-sm-4 col-md-2 text-center">
				<img src="/img/map.png" class="hires" alt="Auto vám přivezeme" width="140" height="90" />
				<h4>Auto vám přivezeme</h4>
				<p>Někdy jsou bohužel ty nejlepší kousky nejdál. Když to za to stojí, dovezeme ho do ČR skoro odkudkoli.</p>
				<br/>
			</div>
			<div class="col-sm-4 col-md-2 text-center">
				<img src="/img/cert.png" class="hires" alt="Přihlášení vozidla" width="140" height="90" />
				<h4>Přihlášení vozidla</h4>
				<p>Zajistíme vám přihlášení vozidla jak na klasická, tak i veteránská čísla.</p>
				<br/>
			</div>
			<div class="col-md-12 text-center">
				<a href="#contact" class="btn btn-primary record-conversion">Potřebuji pomoct s nákupem</a>
			</div>
		</div>
		<br />
		<h2 class="text-center">Zajistíme citlivou renovaci</h2>
		<div class="row">
			<div class="col-sm-4 col-md-2 col-md-offset-3 text-center">
				<img src="/img/body.png" class="hires" alt="Navrhneme renovaci" width="140" height="90" />
				<h4>Navrhneme renovaci</h4>
				<p>Konkrétnímu autu navrheme renovaci na míru. Podle našich i vašich představ.</p>
				<br/>
			</div>
			<div class="col-sm-4 col-md-2 text-center">
				<img src="/img/engine.png" class="hires" alt="Seženeme náhradní díly" width="140" height="90" />
				<h4>Seženeme náhradní díly</h4>
				<p>Ať už jde o znak na kapotu, nebo původní píst do motoru. Víme, kde hledat.</p>
				<br/>
			</div>
			<div class="col-sm-4 col-md-2 text-center">
				<img src="/img/shiny-car.png" class="hires" alt="Kompletní renovace" width="140" height="90" />
				<h4>Kompletní renovace</h4>
				<p>I samotná práce pak probíhá v naší režii. Díky tomu můžeme na vše co nejlépe dohlédnout.</p>
				<br/>
			</div>
			<div class="col-md-12 text-center">
				<a href="#contact" class="btn btn-primary record-conversion">Objednat servis</a>
			</div>
		</div>
		<br />
		<h2 class="text-center">Jak renovace vozu probíhá a kolik stojí?</h2>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class="text-center">
					Každý vůz je svým způsobem unikát. Nese si známky dobré či špatné péče svých předchozích majitelů i šrámy z cest. Každá renovace je pak indiviuální projekt na míru vozu i jeho majiteli. Abyste si však udělali představu, připravili jsme pro vás referenční projekt.
				</p>
				<br />
			</div>
			<div class="col-md-12 text-center">
				<a href="/renovace-austin-mini-1986/" class="btn btn-primary">Prohlédnout ukázkovou renovaci</a>
			</div>
		</div>
		<h2 class="text-center">Nebo zatím váháte?</h2>
		<div class="row">
			<div class="col-sm-4 col-md-2 col-md-offset-4 col-sm-offset-2 text-center">
				<img src="/img/advice.png" class="hires" alt="Poradíme vám" width="140" height="90" />
				<h4>Poradíme vám</h4>
				<p>Když chcete auto, ale nevíte jaké. Nebo pokud máte doma veterána a nevíte co s ním.</p>
				<br/>
			</div>
			<div class="col-sm-4 col-md-2 text-center">
				<img src="/img/discuss.png" class="hires" alt="Potkejme se"  width="140" height="90" />
				<h4>Potkejme se</h4>
				<p>Rádi se s vámi potkáme. Napište nám email, nebo klidně rovnou zavolejte a domluvíme si schůzku.</p>
				<br/>
			</div>
			<div class="col-md-12 text-center">
				<a href="#contact" class="btn btn-primary record-conversion">Domluvit schůzku</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class="text-center">
					Kromě toho vám rádi zařídíme pravidelný servis vašeho
					<br />
					vozidla, nebo jakékoli jiné opravy a úpravy.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid container-black">
    <h2 class="text-center">Splněné sny</h2>
	<p class="text-center">Podívejte se na naše projekty a přečtěte si celý příběh vozu včetně postupu renovace.</p>
	<br />
    <div class="row cars-row">
		<div class="col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2 wrapper-white">
			<div class="row">
				<div class="col-sm-4 box-size car car-4"  style="background-image: url(/img/kolby.jpg)">
				</div>
				<div class="col-sm-8">
					<h3>Rover Mini Balmoral Edition</h3>
					<p>Příběh o znovuzrození zajímavého vozu a splnění dětského snu.</p>
					<h4>Renovace karoserie, Renovace motoru, Nový lak, Renovace interiéru</h4>
					<br />
					<a href="/mini-balmoral-edition" class="btn btn-primary">Prohlédnout renovaci vozu</a>
				</div>
			</div>
		</div>
    </div>
	<br/>
	<div class="row cars-row">
		<div class="col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2 wrapper-white">
			<div class="row">
				<div class="col-sm-4 box-size car car-4"  style="background-image: url(/img/AustinMini1986.jpg)">
				</div>
				<div class="col-sm-8">
					<h3>Austin Mini 1986</h3>
					<p>Zrození z popela</p>
					<h4>Renovace karoserie, Renovace motoru, Nový lak</h4>
					<br />
					<a href="/renovace-austin-mini-1986" class="btn btn-primary">Prohlédnout renovaci vozu</a>
				</div>
			</div>
		</div>
        <!--<div class="col-sm-6 col-md-3 box-size car car-1" style="background-image: url(/img/mercedesw123.jpg)">
			<a href="#car-link">
				<div class="car-container">
					<h4>Theodora</h4>
					<p>Vznešené jméno pro Mercedes-Benz modelové řady W123. U nás v Čechách se mercedesům...</p>
				</div>
			</a>
        </div>

        <div class="col-sm-6 col-md-3 box-size car car-2"  style="background-image: url(/img/bmwe21.jpg)">

        </div>
        <div class="col-sm-6 col-md-3 box-size car car-3"  style="background-image: url(/img/mini-gear.jpg)">

        </div>
        <div class="col-sm-6 col-md-3 box-size car car-4"  style="background-image: url(/img/kolby.jpg)">

        </div>


        <div class="col-sm-6 col-md-3 box-size car car-5">
            car
        </div>
        <div class="col-sm-6 col-md-3 box-size car car-6">
            car
        </div>
        <div class="col-sm-6 col-md-3 box-size car car-7">
            car
        </div>
        <div class="col-sm-6 col-md-3 box-size car car-1">
            car
        </div>
		-->
    </div>
</div>
<br/>
<br/>
<hr/>

<!-- VIDEO -->
<div class="popup-page popup-page-video">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-xs-offset-6 col-sm-offset-6 text-right">
				<a href="#"><img src="/img/close.png" class="hires" width="44" height="44" alt="Close" /></a>
			</div>
		</div>
	</div>
	<iframe src="https://player.vimeo.com/video/185055064" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{{/layout}}