{{#> layout }}
<div class="container-fluid container-first text-center top-comp">
	<h1>Rover Mini Balmoral Edition</h1>
	<p>Příběh znovuzrození. Od nákupu, přes renovaci až po vysněný cíl v Monte Carlu.</p>
	<br/>
	<div class="wrap-img-over">
		<img src="/img/balmoralTop.jpg" class="img-responsive img-over" alt="Mini Balmoral">
	</div>
</div>
<!-- služby-->
<div class="wrapper-white">
	<div class="container">
		<br/>
		<br/>
		<div class="row numbers text-center">
			<div class="col-sm-4">
				<div class="no">786,5h</div>
				<div class="txt">tolik hodin zabrala renovace</div>
				<br/>
			</div>
			<div class="col-sm-4">
				<div class="no">2700Km</div>
				<div class="txt">Nýrsko - Monte Carlo a zpět</div>
				<br/>
			</div>
			<div class="col-sm-4">
				<div class="no">2dny</div>
				<div class="txt">cesta do Monte Carla a zpět</div>
				<br/>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Nákup</h2>
				<p>Na podzim roku 2014 jsme koupili v německém Pfaffenhausenu nedaleko Ingolstadtu Rover mini balmoral edition. V tu chvíli nikdo netušil jak to naší rodině změní život. Triumfálně jsme dorazili ze západního Německa do Nýrska s minim na vleku. Přivítala nás máma se slovy: „No pěkně jste pořídili hoši“. Mini vypadalo doopravdy celkem slušně, ale věděli jsme, že aby bylo uděláno po našem, bude nás čekat dlouhá a trnitá cesta, kde na konci budeme unaveni, ale šťastni – z dobře odvedené práce. Se slovy „táto, to chce jen trochu vyvařit podlahy a trochu spravit tady a drobet tam“, jsme se pustili do práce. Dělali jsme po víkendech, mini jsme rozebrali do šroubku a začala zdlouhavá práce na karoserii. Čas plynul rychle, práce neubývala, spíše naopak. Začali jsme prožívat dva boje najednou.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/balmoralBefore.jpg" class="img-responsive" alt="Mini Balmoral">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Kompletní renovace</h2>

				<p>Jedním protivníkem bylo celé auto a touha po jeho dokončení, druhým protivníkem byla sama smrt. Touha dotáhnout úspěšně práci do konce nás vysávala, ale zároveň nás hnala kupředu. Karoserie jako vždy dala nejvíce zabrat. Po jejím dokončení a odvezení do lakovny nastaly chvíle pro přípravu ostatních dílů, aby vše bylo připraveno k montáži po jejím návratu z lakovny. Rukama mi mezitím prošlo celé auto, každý šroubek a matička byly opískovány a nazinkovány. Každý důležitý mechanický díl byl funkčně zkontrolován a zrenovován. Po dvou měsících strávených v lakovně, se karoserie vrátila k nám do garáže. Nastaly dva nejhezčí dny za poslední rok života. Když jsme prvně spatřili nově nalakovanou karoserii, spadla nám čelist z hloubky a lesku legendárního odstínu barvy British racing green. Napumpovalo nám to novou krev do žil a chtěli jsme dokončit mini co nejrychleji. První dva dny montáže bych nazval čistou radostí, vše bylo perfektně připraveno, vše pasovalo a práce šla rychle od ruky. Ani spát jsme nepotřebovali, jak jsme byli do práce nadšeni. Ještě první den auto stálo na kolech. Byl to fofr. </p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/balmoralEngine.jpg" class="img-responsive" alt="Mini Balmoral">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Rozebrat do šroubku</h2>

				<p>Práce na Mini Balmoral edition nabrala vysoké obrátky. Původní myšlenka spravit podlahy a bude, vzala za své hned v úvodu, protože na celém autě se vyřádil neznámý umělec. Tak to prostě nemohlo zůstat. Nyní je „knedlik“ rozebrán do šroubku.</p>

				<p>Podlahy už jsou nově vyvařené, nápravy dostaly nový nástřik černou barvou a motor je také připraven na opětovnou instalaci. Před rozebráním, se ho po dovozu z Německa, podařilo vyladit a odzkoušet. Vzhledem k nízkému počtu ujetých kilometrů je plný síly a požene miníka zběsile kupředu. Stahovací střecha je v rukou mistra čalouníka, jenž šije nový strop.</p>

				<p>Odpracováno je zatím kolem čtyřset hodin, převážně po víkendech a v klidu šumavské garáže. Podvozek je připraven, dostal základový nátěr a tmel překryl všechny spáry, do kterých by se mohli dostat nežádoucí nečistoty. Dále čeká jen na nástřik takzvaným „hrbáčem“, aby vydržel ostré nárazy všudypřítomných kamínků. V zavazadlovém prostoru vznikly, vinou koroze a špatné ochranně proti ní, poměrně velké díry. Společně s novým zadním spoilerem bylo vše vyvařeno a ošetřeno základovou barvou AKZ A021.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/balmoralEngineAfter.jpg" class="img-responsive" alt="Mini Balmoral">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Brzy do laku</h2>

				<p>Noční můrou je zmiňovaný parapet, který si nechává mistr až nakonec, jako závěrečnou chuťovku. Poté by již nemělo nic bránit k odvozu do lakovny, kde bude čekat přibližně pět litrů barvy, legendárního anglického odstínu british racing green. Po návratu z lakovny nastane strojení karoserie, snad to půjde jak na drátkách. Už se blíží čas na hledání nového majitele pro vzácnou edici se skotským vzorem interiéru. Loučení nebude jednoduché, vždyť jsme do něj s tátou vložili kus sebe. Těžkou a poctivou dřinou ho piplali pro další kilometry na silnicích. Kolabovali jsme hlady, hádali se, ale i smáli, kolikrát až do noci. Prostě Nekonečný příběh dvou unavených chlapů pokračuje i o víkendech.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/balmoralAfter.jpg" class="img-responsive" alt="Mini Balmoral">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Těžká zkouška</h2>

				<p>Rychle se přibližoval den jednoho roku od začátku práce. Nám začaly docházet síly. Byli jsme nuceni bojovat s težkým a neporazitelným soupeřem, který nám do cesty přivalil asi zatím tu nejtežší zkoušku. Ztráta dalšího blízkého člověka. Nejhorší je pro člověka bezmoc. Stav, kdy by se pro druhého rozdal, ale není v jeho silách zvrátit nejhorší. Naše bezmoc se promítla i do dílny, kam jsme chodili jen ze setrvačnosti a se záměrem alespoň trochu zahnat chmurné myšlenky. Noční můrou se stalo zasklení čelního okna. Nervy pracovaly na plné obrátky, byli jsme doslova vyčerpáni a šahali si na dno svých sil. V listopadu roku 2015 máma prohrála svůj boj s rakovinou. Trpěli jsme s ní, nebylo v našich silách auto dokončit, aby ho ještě viděla a mohla nás pochválit. Museli jsme projít peklem a budeme se s tím muset naučit žít.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/balmoralHard.jpg" class="img-responsive" alt="Mini Balmoral">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Cíl je na dosah</h2>

				<p>Zůstalo nám tady však plno práce. Jen práce na skvělých veteránech nám mohla pomoci od smutku. Nakonec 20. prosince roku 2015 večer se tátovi o samotě a beze slov podařilo sklo zasklít do karoserie a mně poté zaklínkovat. V tu chvíli jako kdyby nám z ramenou spadla všechna tíha světa a alespoň na chvíli jsme cítili pocit a nával štěstí. Slzy se mi valily z očí a byl jsem na nás s tátou neskutečně hrdý, že jsme práci i v těžkých časech dotáhli do konce. Máma by z nás měla radost. Hodiny se zastavily na čísle 786,5. Tolik hodin nám celkem trval návrat Balmorala zpět do života.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<img src="/img/balmoralDone.jpg" class="img-responsive" alt="Mini Balmoral">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>VIDEO: Ve stopách hrdinů</h2>

				<p>Balmoral hotový a už teď vím, že se mi s ním bude težce loučit. Nechali jsme v něm plno poctivé práce a přes rok svého života. První jízda letošního jara ale bude má a bude na počest naší mámy. Bude symbolická a bude do Monte Carla, do míst, které je spojené s největšími úspěchy Mini coopera v rally. Do míst kam si pojedu splnit jeden svůj dětský sen. Projet zatáčku u kasina a slavný horský průsmyk Col de Turini. Sny by se měli plnit, ať jsou jakkoli nesmyslné nebo blaznivé.</p>
			</div>
		</div>
	</div>
	<br />
	<br />
	<iframe src="https://player.vimeo.com/video/185055064" class="responsive" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<h2>Splňte si také svůj sen</h2>

				<p>Nabízíme poradenství při výběru a nákupu veteránů, renovujeme historické vozy i youngtimery.</p>
				<br/>
				<a href="/#služby" class="btn btn-primary record-interest">Dozvědět se více o nabízených službách</a>
			</div>
		</div>
	</div>
	<br />
	<br />
</div>
<div class="container-fluid container-black">
    <h2 class="text-center">Další Splněné sny</h2>
	<p class="text-center">Pokud vás zajímají naše další projekty, neváhejte si je prohlédnout.</p>
	<br />
	<div class="row cars-row">
		<div class="col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2 wrapper-white">
			<div class="row">
				<div class="col-sm-4 box-size car car-4"  style="background-image: url(/img/AustinMini1986.jpg)">
				</div>
				<div class="col-sm-8">
					<h3>Austin Mini 1986</h3>
					<p>Zrození z popela</p>
					<h4>Renovace karoserie, Renovace motoru, Nový lak</h4>
					<br />
					<a href="/renovace-austin-mini-1986" class="btn btn-primary">Prohlédnout renovaci vozu</a>
				</div>
			</div>
		</div>
    </div>
</div>
<br/>
<br/>
<hr/>
{{/layout}}